.cp-children {
  padding-left: 20px
}

#children-0 {
	padding-left: 0
}

.cp-category-info span {
	cursor: move;
	color: #004
}

#ordering-zoom-slider-holder {
  width: 30px;
  float: left;
  display: inline;
  padding-top: 25px;
  background: url(../images/system-search.png) top center no-repeat;
}

#ordering-zoom-slider {
  height: 150px;
  width: 6px;
  border: solid #ccc 1px;
  background-color: #ddd;
  position: relative;
  margin-left: 12px
}

#ordering-zoom-handle {
  height: 4px;
  width: 16px;
  border: solid #999 1px;
  background-color: #aaa;
  position: absolute;
  cursor: move;
  margin-left: -6px
}

#comic-ordering-holder {
  margin-left: 35px;
}

#comic-ordering-holder img {
  float: left;
  display: inline;
  margin-right: 5px;
}

.comic-attachment {
  overflow: hidden
}

.comic-ordering {
  overflow: hidden;
  border: solid #ccc 1px;
  padding: 5px;
  margin-bottom: 10px;
}

.cp-comic-attachment {
  cursor: move
}

#ordering-refresh {
  background: url(../images/view-refresh.png) top left no-repeat;
  width: 16px;
  height: 16px;
  display: block;
  margin: 8px 0 0 8px;
}

.image-type-holder {
	border: solid #aaa 1px;
	margin: 10px 0;
	padding: 5px;
}

.image-type-holder table {
	width: 90%
}

.image-type-editor-name input {
	font-size: 1.5em;
	width: 100%
}

.delete-image-type {
	float: right;
	display: inline;
	padding: 3px;
	border: solid #aaa 1px;
	font-weight: bold;
	color: #aaa
}
